<footer>
<small class="f6 db tc">© 2020 <b class="ttu">Made with ❤️ by Azmal Hussain Aakil</b></small>
<div class="tc mt3">
    <a href="#" title="Language" class="f6 dib ph2 link mid-gray dim">Language</a>
    <a href="#"    title="Terms" class="f6 dib ph2 link mid-gray dim">Terms of Use</a>
    <a href="#"  title="Privacy" class="f6 dib ph2 link mid-gray dim">Privacy</a>
</div>
</footer>

